@font-face {
	font-family: "Iosevka Aile Web";
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url("iosevka-aile-regular.woff2") format("woff2");
}

@font-face {
	font-family: "Iosevka Aile Web";
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url("iosevka-aile-italic.woff2") format("woff2");
}

@font-face {
	font-family: "Iosevka Aile Web";
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url("iosevka-aile-bold.woff2") format("woff2");
}

@font-face {
	font-family: "Iosevka Aile Web";
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url("iosevka-aile-bolditalic.woff2") format("woff2");
}
